@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home, .allitems, .clothing{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font: 3rem;
}